{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>method 3</title>
  </head>
  <body>
    <p>you can insert a new contact here !</p>
    {% load crispy_forms_tags %}
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p : works as a string -->
      {{ mycontactform3|crispy }}
      <input type="submit" value="submit" /><br />
    </form>
    <br />
    <a href="{% url 'listAll' %}">Check the entire list of contacts</a><br />
    <form action="{% url 'searchByName'%}" method="post">
      {% csrf_token %}
      <!-- as_p : works as a string -->
      <input type="text" name="searchFor" />
      <input type="submit" value="search by anything ! " /><br />
    </form>
    <br />
    <form action="update" method="post">
      {% csrf_token %}
      <!-- as_p : works as a string -->
      old firstname <input type="text" name="toBeUpdatedCandidateName" />
      <br />new firsname <input type="text" name="newFirstName" /><br />
      new lastname <input type="text" name="newLastName" /> <br />
      new Email<input type="text" name="newEmail" /> <br />
      new msg <input type="text" name="NewMsg" /><br />
      <input type="submit" value="Update By Name! " /><br />
    </form>
    <br />
    <form action="{% url 'deleteCand' %}" method="post">
      {% csrf_token %}
      <!-- as_p : works as a string -->
      firstname <input type="text" name="toBeDeletedCandidateName" />

      <input type="submit" value="Delete By Name! " /><br />
    </form>
    <br />
    <br />
  </body>
</html>
