{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>method 1 </title>
</head>
<body>
    <form action="" method="post">
{% csrf_token %}
<p>
<label >firstname: </label>
<input type="text" name="firstname" >
</p>
<p>
<label >lastname: </label>
<input type="text" name="lastname" >
</p>
<p>
<label >Email: </label>
<input type="email" name="email">
</p>
<p>
<label ">Message: </label>
<textarea type="text" name="message"></textarea>
</p>
<input type="submit" value="envoyer">
</form>
</body>
</html>