{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome !</title>
  </head>
  <body>
    <h1>welcome to the our shop !</h1>
    {% for i in test%}
            {{i}}
            <!-- {{test}} -->
            <!-- {{res}} -->
        {% endfor %}
    <div class="container">
      {% for i in res %} 
      <!-- <p> it {{i}}</p> -->
      {% endfor %} 
    </div>
  </body>
</html>
